body {
	text-align: center;
}

div.candidates {

}

div.candidate {
	text-align: center;
	display:inline-block;
	padding: 20px;
}

div.candidate img {
	width: 125px;
	height: auto;
	border-radius: 50%;
}

div.candidate img:hover {
	border: 5px solid gray !important;
}

.hidden {
	display: none;
}